.createuser{
    background-color: rgb(199, 206, 203);
    margin-top: 7%;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    border-color: black;
    border-radius: 20px;

}
.form{
    margin-top: 2%;
}